@import "normalize";
@import "compass";


body {
  position: absolute;
  width: 100%; height: 100%;

  -webkit-font-smoothing: antialiased;
}

header {
  position: absolute;
  right: 0; bottom: 0; left: 0;

  z-index: 200;
  background: black;
}
h1 {
  line-height: 1;
  margin: 0;
  padding: 0.5em;

  a {
    color: white;
    font-family: 'freight-sans-pro', sans-serif;
    font-weight: normal;
    text-decoration: none;

  }
}

.gif {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;

  background: black no-repeat center center fixed;
  @include background-size(cover);
  cursor: pointer !important;
  text-indent: -9999em;
  cursor: pointer !important;
  z-index: 100;
}
.gif.fit {
  @include background-size(contain);
}
