{% extends "base.html" %}

{% block content %}
<header>
    <h1><a href="/">MAXIMUM<strong>IDOL</strong></a> <a class="what-is-this"><span>?</span></a></h1>
    <div class="social">
        <p class="byline">A small project brought to you, with love, by <a href="http://facebook.com/helloranking">Hello! Ranking</a>.</p>
        <div class="fb-like" data-href="http://maximumidol.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-colorscheme="dark"></div>
    </div>
</header>
<div class="about">
    <section>
        <h1>Eh?</h1>
        <p>MAXIMUM<strong>IDOL</strong> takes GIFs created by the <a href="http://www.helloproject.com/">Hello! Project</a> community and super-sizes them. All it takes is a single click to get hooked on the thousand GIFs of your favorite idols. It is heavily inspired by <a href="http://maxgif.com/">MAXGIF</a> which was in turn inspired by <a href="http://ntrnts.com/">ntrnts.com</a>.</p>
        <p>But it's better... <strong>because idols</strong>.</p>
    </section>
    <section>
        <h1>Why?</h1>
        <p><strong>Because happiness.</strong> No really. This was made in the span of a Friday night, mainly to surface the thousand images that <a href="http://aidoru-bomb.herokuapp.com/">we started collecting</a> and because the only way to view them was in a chat room. Unacceptable. There are a lot of plans for this place, but for now, just click. You know you want to.</p>
        <p>Oh, <a href="https://github.com/bryanveloso/maximumidol">all of the source code is available too</a>.</p>
    </section>
    <section>
        <h1>Thanks!</h1>
        <p><strong>Thank you for coming!</strong> Really! We do have a few special thanks to hand out though (sorry, please don't be jealous! :&lt;).</p>
        <ul>
            <li><a href="http://aigaki.tumblr.com/">AiGaki</a> &amp; <a href="http://fyeahrokkies.tumblr.com/">All Love is Just Soap Bubbles</a> for all the amazing Hello! Project GIFs. You're awesome. Serioulsy.</li>
            <li><a href="http://maxgif.com">MAXGIF</a> for the inspiration. You did it best. We just put idols on it!</li>
            <li><a href="http://twitter.com/bryanveloso">Bryan's</a> co-workers at <a href="http://github.com">GitHub</a> for filling his life with GIFs.</li>
        </ul>
    </section>
</div>
<a class="gif" href="/random" style="background-image: url({{ gif }})">{{ gif }}</a>
{% endblock %}
