{% extends "base.html" %}

{% block content %}
<header>
    <h1><a href="/">MAXIMUM<strong>IDOL</strong></a></h1>
    <div class="social">
        <p class="byline">A small project brought to you, with love, by <a href="http://facebook.com/helloranking">Hello! Ranking</a>.</p>
        <div class="fb-like" data-href="http://maximumidol.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-colorscheme="dark"></div>
    </div>
</header>
<a class="gif" href="/random" style="background-image: url({{ gif }})">{{ gif }}</a>
{% endblock %}
